/* -=-=-=-=-=-=-=-=-= 
변수
-=-=-=-=-=-=-=-=-=-*/
:root {
  /* color */
  --mainColor : #173768;
  --subColor : #6252FF;
  --listHeadColor : #F9F9F9;
  --redColor : #f00;
  --deepBlueColor : #070033; 
  --blackColor : #000;
  --whiteColor : #fff;
  --lightGrayColor : #F4F4F4;
  --daColor :#dadada;

  /* size */
  --fontBaseSize : 16px;
  --mainTitleSize : 32px;
  --subTitleSize : 24px;

  /* display */
  --none : none;
  --block : block;
  --inline : inline;
  --inlineBlock : inline-block;
  --flex : flex;
  --grid : grid;

  /* align */
  --left : left;
  --right : right;
  --center : center;
  --top : top;
  --bottom : bottom;

  /* flex align */
  --jcSb : space-between;
  --jcSa : space-around;
  --jcFs : flex-start;
  --jcFe : flex-end;

  /* background */
  --bgNr : no-repeat;
  --bgSc : cover;

  /* position */
  --poA : absolute;
  --poR : relative;
  --poF : fixed;
  --poS : sticky;

  /* fontFamily */
  --notoSans : "Noto Sans KR", sans-serif;
  --Inter : 'Inter';
  --centuryG : "century Gothic";
  --nanumG : 'Nanum Gothic';

  /* text */
  --nowrap : nowrap;
  --fwBold : bold;
  --fwNmal : normal;

  /* unit */
  --u10 : 10px;
  --u16 : 16px; 
  --u20 : 20px;
  --u18 : 18px;

  /**/
  --hidden : hidden;
  --pointer : pointer;
}


/* -=-=-=-=-=-=-=-=-= 
페이지네이션
-=-=-=-=-=-=-=-=-=-*/
.pagenation {
  display: var(--flex);
  align-items: var(--center);
  justify-content: var(--center);
  margin-top: 40px;
}

.pagenation button {
  width: 34px;
  height: 34px;
  color: var(--mainColor);
  border: 1px solid var(--mainColor);
  font-size: 12px;
  font-weight: var(--fwBold);
  margin: 0 2px;
}

.pagenation button:hover {
  color: var(--whiteColor);
  background-color: var(--mainColor);
}

.pagenation ul {
  display: var(--flex);
  align-items: var(--center);
  gap: 15px;
  margin: 0 15px;
  font-family: var(--notoSans);
}

.pagenation ul li {
  cursor: var(--pointer);
}

.pagenation ul li.active {
  font-weight: var(--fwBold);
}