@import url(/assets/css/reset.css);

/* -=-=-=-=-=-=-=-=-= 
폰트
-=-=-=-=-=-=-=-=-=-*/

/* Nanum Gothic */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

/* Noto+Sans */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap");

/* Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/* century Gothic */
@font-face {
  font-family: "century Gothic";
  src: url(/assets/fonts/CenturyGothic.woff2);
}
@font-face {
  font-family: "century GothicB";
  src: url(/assets/fonts/GOTHICB.woff2);
}

/* -=-=-=-=-=-=-=-=-= 
변수
-=-=-=-=-=-=-=-=-=-*/
:root {
    /* color */
    --mainColor : #173768;
    --subColor : #6252FF;
    --listHeadColor : #F9F9F9;
    --redColor : #f00;
    --deepBlueColor : #070033; 
    --blackColor : #000;
    --whiteColor : #fff;
    --lightGrayColor : #F4F4F4;
    --daColor :#dadada;

    /* size */
    --fontBaseSize : 16px;
    --mainTitleSize : 32px;
    --subTitleSize : 24px;

    /* display */
    --none : none;
    --block : block;
    --inline : inline;
    --inlineBlock : inline-block;
    --flex : flex;
    --grid : grid;

    /* align */
    --left : left;
    --right : right;
    --center : center;
    --top : top;
    --bottom : bottom;

    /* flex align */
    --jcSb : space-between;
    --jcSa : space-around;
    --jcFs : flex-start;
    --jcFe : flex-end;

    /* background */
    --bgNr : no-repeat;
    --bgSc : cover;

    /* position */
    --poA : absolute;
    --poR : relative;
    --poF : fixed;
    --poS : sticky;

    /* fontFamily */
    --notoSans : "Noto Sans KR", sans-serif;
    --Inter : 'Inter';
    --centuryG : "century Gothic";
    --nanumG : 'Nanum Gothic';

    /* text */
    --nowrap : nowrap;
    --fwBold : bold;
    --fwNmal : normal;

    /* unit */
    --u10 : 10px;
    --u16 : 16px; 
    --u20 : 20px;
    --u18 : 18px;

    /**/
    --hidden : hidden;
    --pointer : pointer;
}


.hidden {
    display: var(--none);
}

/* 정렬 */
.flexAlign {
  display: var(--flex);
  align-items: var(--center);
  gap: 10px;
  white-space: var(--nowrap);
}

/* 마진 */
.mb10 {
  margin-bottom: 10px;
}

/* 길이 */
.w100 {
  width: 100%;
}

/* -=-=-=-=-=-=-=-=-= 
기본 엘리먼트
-=-=-=-=-=-=-=-=-=-*/

body {
    font-size: var(--fontBaseSize);
    font-family: 'Nanum Gothic', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    position: var(--poF);
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    display: var(--flex);
    align-items: var(--center);
    justify-content: var(--jcSb);
    background: url(/assets/images/navBg.png) #070033;
    background-repeat: var(--bgNr);
    height: 125px;
    padding: 60px;
}

main {
    margin-top: 125px;
}

main h2 {
    font-size: var(--subTitleSize);
    font-family: var(--notoSans);
    font-weight: 500;
    border-bottom: 2px solid var(--blackColor);
    padding-bottom: 10px;
}

main h3 {
    font-size: var(--subTitleSize);
    font-weight: var(--fwBold);
}

main h4 {
  font-size: 19px;
  font-weight:var(--fwBold);
  margin-bottom: 15px;
}

/* 우측배너 */
aside {
  position: var(--poA);
  top: 0;
  right: -280px;
}

/* 풋터 */
footer {
  background-color: var(--deepBlueColor);
  display: var(--flex);
  align-items: var(--center);
  justify-content: var(--center);
}

footer .footer-area {
  display: var(--flex);
  align-items: var(--center);
  justify-content: var(--center);
  gap: 100px;
  height: 170px;
}

.ftTxtArea {
  color: var(--whiteColor);
}


/* -=-=-=-=-=-=-=-=-= 
탭
-=-=-=-=-=-=-=-=-=-*/
.tabHead {
  display: var(--flex);
  align-items: var(--center);
}

input[type=radio] {
  display: var(--none);
}

input[type=radio] + label {
  width: 100%;
  text-align: var(--center);
  border: 1px solid var(--daColor);
  background-color: var(--whiteColor);
  padding: 15px;
  margin-left: -1px;
  color: #666;
  cursor: var(--pointer);
  font-family: 'Noto Sans KR';
}

input[type=radio]:checked + label {
  background-color: var(--mainColor);
  color: var(--whiteColor);
}

.tabs .tab-content {
  display: var(--none);
  padding: 50px 0;
}

.tabs .tab-content.active {
  display: var(--block);
}

/* -=-=-=-=-=-=-=-=-= 
페이지네이션
-=-=-=-=-=-=-=-=-=-*/
.pagenation {
  display: var(--flex);
  align-items: var(--center);
  justify-content: var(--center);
  margin-top: 40px;
}

.pagenation button {
  width: 34px;
  height: 34px;
  color: var(--mainColor);
  border: 1px solid var(--mainColor);
  font-size: 12px;
  font-weight: var(--fwBold);
  margin: 0 2px;
}

.pagenation button:hover {
  color: var(--whiteColor);
  background-color: var(--mainColor);
}

.pagenation ul {
  display: var(--flex);
  align-items: var(--center);
  gap: 15px;
  margin: 0 15px;
  font-family: var(--notoSans);
}

.pagenation ul li {
  cursor: var(--pointer);
}

.pagenation ul li.active {
  font-weight: var(--fwBold);
}


/* -=-=-=-=-=-=-=-=-= 
버튼
-=-=-=-=-=-=-=-=-=-*/
.btnArea {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.btnArea .btn{
  display: var(--flex);
  align-items: var(--center);
  justify-content: var(--center);
  margin: 0 auto;
}

.btn {
  border-radius: 5px;
  width: 280px;
  height: 50px;
  background: #070033;
  color: var(--whiteColor);
}

.btn-outline {
  border: 1px solid #070033;
  background-color: var(--whiteColor);
  color: #070033;
}

/* -=-=-=-=-=-=-=-=-= 
브레드크롬
-=-=-=-=-=-=-=-=-=-*/
.breadcrumb-list {
  display: var(--flex);
  align-items: var(--center);
  font-family: 'Noto Sans KR';
}

.breadcrumb-list li {
  font-size: 24px;
  font-weight: 500;
}

.breadcrumb-item + .breadcrumb-item {
  margin: 0 5px;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: '>';
  font-weight: var(--fwBold);
  margin: 0 5px;

}

/* -=-=-=-=-=-=-=-=-= 
캘린더
-=-=-=-=-=-=-=-=-=-*/
.calendar {
  display: var(--flex);
  align-items: var(--center);
  justify-content: var(--jcSa);
  gap: 15px;
}

.calendar .calBtn {
  cursor: var(--pointer);
}

.calendar-list {
  display: var(--flex);
  align-items: var(--center);
  cursor: var(--pointer);
}

.calendar-list i {
  margin-right: 10px;
}

/* -=-=-=-=-=-=-=-=-= 
아이콘
-=-=-=-=-=-=-=-=-=-*/
i {
  background-repeat: no-repeat;
  background-position: var(--center);
  display: var(--inlineBlock);
}

.i-search {
  background-image: url(/assets/images/01_RANKING/ico_mapsearch.png);
  width: 29px;
  height: 22px;
}

.i-language {
  background-image: url(/assets/images/language.png);
  width: 16.381px;
  height: 16.381px;
}

.i-hm {
  background-image: url(/assets/images/hm.svg);
  width: 11.617px;
  height: 12.749px;
}

.i-x {
  background-image: url(/assets/images/mypage/x.svg);
  width: 40px;
  height: 40px;
}

/* -=-=-=-=-=-=-=-=-= 
인풋
-=-=-=-=-=-=-=-=-=-*/
input {
  border: 1px solid var(--daColor);
  background-color: var(--whiteColor);
}

input:focus {
  border : 1px solid #c7c7c7;
}

input[type='text'], input[type='password'], input[type='email'], select {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--daColor);
  background-color: var(--whiteColor);
}

input:disabled {
  background-color: #F1F1F1;
}


/* -=-=-=-=-=-=-=-=-= 
인풋-체크
-=-=-=-=-=-=-=-=-=-*/

input[type='checkbox'] {
  display: var(--none);
}

input[type='checkbox'] + label {
  display: var(--flex);
  align-items: var(--center);
  justify-content: var(--center);
  cursor: var(--pointer);
}

input[type='checkbox'] + label::before {
  content: '';
  width: 30px;
  height: 30px;
  font-size: 16px;
  border: 1px solid var(--daColor);
  background-color: var(--whiteColor);
  font-size: 20px;
  text-align: var(--center);
  margin-right: 10px;

}

input[type='checkbox']:checked ~ label::before {
  content: '✔';
  color: var(--whiteColor);
  background-color: var(--mainColor);
  border: 1px solid var(--blackColor);
  
}


/* -=-=-=-=-=-=-=-=-= 
팝업
-=-=-=-=-=-=-=-=-=-*/
.popup-area {
  position: absolute;
  z-index: 99;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-area .popup {
  border-radius: 10px;
  border: 1px solid #DADADA;
  background-color: #FFF;
  padding: 40px;
  box-shadow: 2px 3px 10px #a7a7a7;
  text-align: center;
}

.popup h1 {
  color: #173768;
  font-size: 20px;
  font-weight: 700;
 
}

.popup .popup-detail {
  margin: 40px 0;
  color: #000;
  font-size: 16px;
}

.popup-area .btnArea .btn{
  border-radius: 30px;
  background-color: #173768;
}

.popup-area .btnArea .btn-outline {
  background-color: #fff;
  color: #173768;
  border: 1px solid #173768;
}













