@charset "UTF-8";
@import url(/assets/css/main.css);
/* -=-=-=-=-=-=-=-=-= 
헤더
-=-=-=-=-=-=-=-=-=-*/
.logo span {
  display: var(--block);
  background-image: url(/assets/images/logo.png);
  width: 284.297px;
  height: 51.348px;
}

/* 메뉴 */
.nav {
  color: var(--whiteColor);
}

.nav ul {
  display: var(--flex);
  font-size: var(--u20);
  text-transform: uppercase;
  font-weight: var(--fwBold);
  white-space: var(--nowrap);
}

.nav ul li {
  display: var(--flex);
  align-items: var(--center);
}

.nav ul li + li::before {
  content: "";
  display: var(--inlineBlock);
  width: 1px;
  height: 16px;
  background-color: var(--whiteColor);
  margin: 0 25px;
}

.nav ul li a:hover {
  color: var(--subColor);
}

.navRight {
  display: var(--flex);
  align-items: var(--center);
  justify-content: var(--jcSb);
}

.log-area {
  display: var(--flex);
  align-items: var(--center);
  gap: var(--u10);
}

/* 언어선택 */
.language {
  display: var(--flex);
  align-items: var(--center);
  margin-right: calc(var(--u10) * 1.5)
}

.language select{
  background-color: transparent;
  color: var(--whiteColor);
  font-size: calc(var(--u10) * 2);
  font-weight: 700;
  border: var(--none);
}

.language select option {
  color: var(--blackColor);
}

/* 로그인버튼 */
.loginBtn {
  color: var(--whiteColor);
  border: 1px solid var(--whiteColor);
  padding: 5px 30px;
  white-space: var(--nowrap);
}

/* -=-=-=-=-=-=-=-=-= 
메인
-=-=-=-=-=-=-=-=-=-*/
main {
  display: var(--flex);
  align-items: var(--center);
  justify-content: var(--center);
}

.main_wrap {
  width: 1200px;
  margin: 60px 0;
  position: var(--poR);
}

.main_wrap .mainBn_img {
  margin-bottom: 30px;
}

/* 랭킹 */.rankingList_title span
.rankingList-area {
  display: var(--flex);
  align-items: var(--center);
  justify-content: var(--jcSb);
  gap: 40px;
}

.rankingList-box {
  width: 100%;
}

.rankingList_title {
  display: var(--flex);
  align-items: var(--center);
  justify-content: var(--jcSb);
}


.rankingList_title span {
  display: var(--flex);
  align-items: var(--center);
  font-size: var(--u20);
  font-weight: 700;
}

.rankingList_title a span::after {
  content: "";
  display: var(--block);
  background-image: url(/assets/images/cross.png);
  width: 16px;
  height: 16px;
  margin-left: 5px;
}

.rankingList {
  border-bottom: 1px solid var(--daColor);
}

.rankingList table {
  width: 100%;
  font-family: var(--nanumG);
  border-top: 2px solid var(--blackColor);
}

.rankingList table thead {
  background-color: var(--listHeadColor);
}

.rankingList table tr th {
  font-weight: var(--fwBold);
}

.rankingList table tr th,
.rankingList table tr td {
  padding: 15px;
  text-align: var(--center);
}

.rankingList table tbody tr {
  border-top: 1px solid var(--daColor);
}

.rankingList table tbody .name,
.rankingList table tbody .point,
.rankingList table tbody .store {
  display: var(--flex);
  align-items: var(--center);
  justify-content: var(--center);
}

.rankingList table tbody .name span:first-child {
  margin-right: 5px;
}

.rankingList table tbody .point {
  font-weight: var(--fwBold);
  color: var(--redColor);
}

.rankingList table tbody .point::after {
  content: "Pt";
  color: var(--blackColor);
  margin-left: 7px;
}

/* 와홀덤 링크 */
.waholdem_link {
  margin: 80px 0;
}

/* 매장별 랭킹 */
.rankingList table tbody .store span:first-child {
  margin-right: 5px;
}

/* 토너먼트 */
.mainTmList-area {
  border-top: 2px solid var(--blackColor);
  border-bottom: 1px solid var(--daColor);
}

.mainTmList_txt {
  font-family: var(--Inter);
}

.mainTmList_txt h3 {
  color: var(--mainColor);
  font-weight: var(--fwBold);
  margin-bottom: 5px;
}

.mainTmList_txt_list {
  display: var(--flex);
    align-items: var(--center);
    flex-wrap: wrap;
}

.mainTmList_txt_list span {
  margin-right: 10px;
  display: var(--flex);
  align-items: var(--center);
}

.mainTmList_txt_list span::before {
  content: "";
  display: var(--inlineBlock);
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #d9d9d9;
  margin-right: 5px;
}

.mainTmList-area {
  margin-bottom: 40px;
}

.mainTmList-area a {
  background-color: var(--whiteColor);
  border: 1px solid var(--mainColor);
  border-radius: 5px;
  color: var(--mainColor);
  display: var(--block);
  padding: 10px;
  display: var(--flex);
  align-items: var(--center);
  justify-content: var(--center);
}

.mainTmList-area a:hover {
  background-color: var(--mainColor);
  color: var(--whiteColor);
}

.mainTmList-area .more {
  display: var(--flex);
  align-items: var(--center);
  justify-content: var(--center);
  text-align: var(--center);
  position: var(--poR);
  font-weight: 500;
  width: 100px;
}

.more .arrow-right::after {
  content: ">";
  display: var(--inlineBlock);
  font-weight: var(--fwBold);
  color: var(--mainColor);
}

.mainTmList-area a:hover .more .arrow-right::after {
  color: var(--whiteColor);
}

.mainTmList-area .more span {
  margin-right: 10px;
}

.mainTmList-area table {
  width: 100%;
}

.mainTmList-area table tr {
  border-bottom: 1px solid var(--daColor);
}

.mainTmList-area table td {
  padding: calc(var(--u10) * 2);
}

.mainTmList-area table td:last-child {
  text-align: right;
}

.tmbg-margin {
  margin: 40px 0;
}

/* 뉴스 리스트 */
.news {
  font-family: var(--Inter);
}

.news ul, .award ul {
  display: var(--flex);
  flex-wrap: wrap;
  gap: 60px;
  margin: 50px 0;
}

.news .listBox {
  width: 255px;
}

/* 어워드 리스트*/
.award .listBox {
  width: 360px;
}

.listBox-img {
  margin-bottom: 28px;
  overflow: var(--hidden);
}

.listBox-img:hover img {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

.listBox span {
  color: var(--mainColor);
  font-weight: var(--fwBold);
}

/* -=-=-=-=-=-=-=-=-= 
랭킹
-=-=-=-=-=-=-=-=-=-*/
.ranking h2 {
  margin-bottom: 64px;
}

.ranking-search {
  display: flex;
  flex-direction: column;
  align-items: var(--center);
  justify-content: var(--center);
  background-color: #F6F6F6;
  height: 260px;
  margin-bottom: 70px;
  font-family: "Noto Sans KR";
}

.ranking-search > p {
  color: #999;
  font-size: 16px;
  margin-bottom: calc(var(--u10) * 2);
}

.ranking-search .region {
  display: var(--flex);
  align-items: var(--center);
  margin-bottom: 40px;
}

.ranking-search .region select {
  width: 220px;
  padding: 10px;
  border: var(--none);
  border-bottom: 2px solid var(--blackColor);
  background-color: transparent;
}

.ranking-search .region select:focus {
  outline: var(--none);
}

.ranking-search .region li {
  margin: 0 calc(var(--u10) * 2);
}

.ranking .breadcrumb {
  margin-bottom: calc(var(--u10) * 2);
}

/* 랭킹 서치 */
.search-area {
  width: 445px;
  display: var(--flex);
  align-items: var(--center);
  justify-content: var(--jcSb);
  gap: 15px;
  border-bottom: 2px solid var(--blackColor);
  white-space: var(--nowrap);
  margin-bottom: 40px;
  margin-top: 15px;
}

.search-area input {
 width: 100%;
 background-color: transparent;
 border: var(--none); 
 text-align: var(--center);
}

.search-area input:focus {
  outline: var(--none);
}

.search-area span {
  font-size: calc(var(--u10) * 2);
}


/* -=-=-=-=-=-=-=-=-= 
개인 프로필
-=-=-=-=-=-=-=-=-=-*/
.profile-area {
  display: var(--flex);
  align-items: var(--jcFs);
  justify-content: var(--jcSb);
  font-family: "NanumGothic";
  font-size: 16px;
  margin-bottom: 70px;
}

.profile-area .profile {
  width: 330px;
}

.profile-area .feat {
  width: 750px;
}

.profile-desc table{
  width: 100%;
  border: 1px solid var(--daColor);
}

.profile-desc table tr:first-child {
  background-color: #F1F1F1;
}

.profile-desc table td {
  padding: 10px;
 
}

.profile-desc span::before {
  font-weight: var(--fwBold);
  margin-right: 10px;
}

.profile-desc .name::before {
  content: '이름';
  
}

.profile-desc .team::before {
  content: '팀';
}

.profile-desc .addr::before {
  content: '주소';
}

.feat ul {
  border-top: 2px solid var(--blackColor);
}

.feat ul li{
  display: var(--flex);
  justify-content: var(--jcSb);
  align-items: var(--center);
  padding: 10px;
  border-bottom: 1px solid var(--daColor);
}

.feat ul li:first-child {
  background-color: var(--listHeadColor);
}

.feat ul li span:first-child {
  font-weight: var(--fwBold);
}

.feat .pts {
  color: var(--redColor);
  font-weight: var(--fwBold);
}

.feat .pts::after {
  content: 'pts';
  margin-left: 5px;
  color: var(--blackColor);
  font-weight: var(--fwNmal);
}

.feat .KRW::before{
  content: '₩';
  margin-right: 5px;
}

/* -=-=-=-=-=-=-=-=-= 
토너먼트
-=-=-=-=-=-=-=-=-=-*/
.tournaments .rankingList_title {
  margin-bottom: calc(var(--u10) * 2);
}


/* -=-=-=-=-=-=-=-=-= 
토너먼트 - 디테일
-=-=-=-=-=-=-=-=-=-*/
.tts-detail{}

.tts-detail .mainBn_img {
  background-image: url(/assets/images/02_TOURNAMENTS/topbg.png);
  background-position: var(--center);
  background-size: var(--bgSc);
  width: 1200px;
  height: 198.787px;
  display: var(--block);
}

.tts-mainBg-area {
  display: var(--flex);
  align-items: var(--center);
}

.tts-mainBg-area .tts-logo{
  width: 251.767px;
  height: 198.787px;
  display: var(--flex);
  align-items: var(--center);
  justify-content: var(--center);
  background-color: var(--lightGrayColor);
}

.tts-desc-area {
  padding: 30px 40px;
  color: var(--whiteColor);
  display: var(--flex);
  align-items: var(--jcFe);
  justify-content: var(--jcSb);
  width: 100%;
  position: var(--poR);
}

.tts-desc h3 {
  font-weight: 700;
  font-size: 36px;
  width: 600px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: var(--hidden);
}

.tts-desc span {
  font-family: "Inter";
  font-size: 18px;
}

.tts-desc-area button {
  padding: 10px 40px;
  border-radius: 5px;
  background: #8A179E;
}

.tts-desc-area .AllSchedule-popup {
  position: var(--poA);
  top: 140px;
  right: 0;
  z-index: 10;
  display: var(--none);
}

.AllSchedule-popup.active {
  display: var(--block);
}

.tts-detail table {
  border-top: 2px solid var(--blackColor);
  width: 100%;
}

.tts-detail table td{
  padding: calc(var(--u10) * 2) 0;
  border-bottom: 1px solid var(--daColor);
}

.tts-detail table p {
  font-weight: var(--fwBold);
  font-family: 'Inter';
}

.tts-detail .fullSchedule{
  margin-bottom: 80px;
}

.evList{
  display: var(--flex);
  align-items: var(--jcFs);
  flex-wrap: wrap;
  gap: 25px;
}

.evList li {
  list-style-type: disc;
}


/* -=-=-=-=-=-=-=-=-= 
detail
-=-=-=-=-=-=-=-=-=-*/
.detail h2{
  margin-bottom: 54px;
}

.detail .head h3{
  margin-bottom: 30px;
}

.show_date {
  display: var(--flex);
  align-items: var(--center);
}

.show_date span {
  margin-left: calc(var(--u10) * 2);
}

.detail .item .head {
  border-bottom: 1px solid var(--daColor);
  padding-bottom: 15px;
}

.item .body {
  padding: 55px 0;
}

.datail-bodyImg {
  display: var(--flex);
  align-items: var(--center);
  justify-content: var(--center);
  margin: 60px 0;
}

.body-inner {
  border-bottom: 1px solid var(--blackColor);
  padding-bottom: calc(var(--u10) * 2);
}

.body-inner h4{
  font-size: 24px;
  font-weight: 700;
}

.body-inner p {
  margin: 15px 0;
}

.tag-area {
  display: var(--flex);
  align-items: var(--center);
  margin-bottom: 10px;
}

.tag-area span {
  padding: 10px;
  background-color: var(--lightGrayColor);
}

.tag-area span + span {
  margin-left: 10px;
}

.body-inner{
  margin-bottom: 45px;
}


/* -=-=-=-=-=-=-=-=-= 
로그인
-=-=-=-=-=-=-=-=-=-*/
.my_pg {
  font-family: 'Noto Sans KR';
  color: #666;
  width: 600px;
  /* margin-bottom: 250px; */
}

.my_pg > h2 {
  margin-bottom: 26px;
}

.my_idpwFom input:first-child {
  margin-bottom: 10px;
}

.idPw-area {
  display: var(--flex);
  align-items: var(--center);
  justify-content: var(--jcSb);
  margin-top: 19px;
  margin-bottom: 89px;
}

.id_save {
  display: var(--flex);
  align-items: var(--center);
}

.idPw {
  display: var(--flex);
  align-items: var(--center);
}

.idPw li {
  display: var(--flex);
  align-items: var(--center);
}

.idPw li + li::before{
  content: '';
  display: var(--inlineBlock);
  width: 2px;
  height: 15px;
  background-color: var(--blackColor);
  margin: 0 10px;
}

.my_pg .my_st {
  font-size: calc(var(--u10) * 2);
  margin-bottom: 70px;
}


/* sns */
.sns-area {
  margin-top: 90px;
}

.sns-area h2 {
  margin-bottom: 55px;
}

.sns-area .snsLogin {
  display: var(--flex);
  align-items: var(--center);
  justify-content: var(--center);
  gap: 80px;
}

.sns-area a {
  display: var(--flex);
  flex-direction: column;
  align-items: var(--center);
}

.sns-area .snsLogin img {
  width: 79px;
  height: 79px;
  margin-bottom: 19px;
}


/* -=-=-=-=-=-=-=-=-= 
회원가입
-=-=-=-=-=-=-=-=-=-*/

/* 동의체크 */
.ji-ck {
  margin-bottom: 50px;
}

.ji-ck li{
  display: var(--flex);
  align-items: var(--center);
  justify-content: var(--jcSb);
  padding: calc(var(--u10) * 2) 0;
  border-bottom: 1px solid var(--blackColor);
}

.mp-ar {
  position: var(--poR);
}

.mp-wr {
  position: var(--poA);
  top: calc(var(--u10) * 2);
  right: 0;
  width: 800px;
  background-color: var(--whiteColor);
  border: 1px solid var(--daColor);
  display: var(--none);
  z-index: 90;
}

.mp-wr.active {
  display: var(--block);
}

.mp-wr .mp-top {
  display: var(--flex);
  align-items: var(--center);
  justify-content: var(--jcSb);
  padding: 40px;
}

.mp-top h3 {
  font-size: 36px;
  color: var(--blackColor);
  font-weight: 700;
}

.mp-wr .mp-body {
  overflow-y: auto;
  height: 400px;
  padding: 40px;
  color: #666;
  font-family: 'Noto Sans KR';
  font-size: 18px;
}

.mp-body span, .mp-body p {
  margin-bottom: 25px;
  display: var(--block);
}

/* 인증번호 */
.cc-ar {
  margin-bottom: 50px;
}

.cc-ar .cc-ph {
  display: var(--flex);
  align-items: var(--center);
  gap: 10px;
  margin-bottom: 10px;
}

.cc-ph select, .cc-ph input {
  width: 100%;
  border: 1px solid var(--daColor);
  background-color: var(--whiteColor);
  padding: 10px;
}

.cc-nb {
  display: var(--flex);
  align-items: var(--center);
  justify-content: var(--jcSb);
  white-space: var(--nowrap);
  gap: 10px;
  margin-bottom: 40px;
}

.cc-nb .cc-in {
  padding: 10px;
  border: 1px solid var(--daColor);
  display: var(--flex);
  align-items: var(--center);
  width: 100%;
}

.cc-in input {
  width: 100%;
  border: var(--none);
  margin-bottom: 0px !important;
  margin-right: 10px;
}

.cc-in span {
  color: var(--redColor);
}

.cc-nb button {
  padding: 10px;
  border: 1px solid var(--mainColor);
  background: var(--whiteColor);
  color: var(--mainColor);
}

/* sns간편가입 */
.snsJoin a {
  position: var(--poR);
  padding: 15px;
  color: var(--blackColor);
}

.snsJoin li{
  margin-bottom: 15px;
}

.snsJoin i {
  width: 25px;
  height: 25px;
  position: var(--poA);
  left: calc(var(--u10) * 2);
  top: 15px;
}

.snsJoin .naver{
  border-radius: 5px;
  background-color: #2EB34A;
  color: var(--whiteColor);
}

.snsJoin .kakao {
  border-radius: 5px;
  background: #F8DD20;
}

.snsJoin .google {
  border-radius: 5px;
  background: #F1F1F1;
}


/* -=-=-=-=-=-=-=-=-= 
회원가입02
-=-=-=-=-=-=-=-=-=-*/

.ji02-ar li {
  display: var(--flex);
  align-items: var(--center);
  justify-content: var(--jcSb);
  white-space: var(--nowrap);
}

.ji02-ar .flexAlign {
  width: 100%;
}

.ji02-ar table {
  width: 100%;
  white-space: var(--nowrap);
  border-spacing: calc(var(--u10) * 2);
  border-collapse:separate;
  margin-bottom: 40px;
  
}

.ji02-ar table tr {
  border-spacing: 5px;
}

.zip-code button, .flexAlign button {
  padding: 10px;
  border: 0.5px solid var(--mainColor);
  background: var(--whiteColor);
  color: var(--mainColor);
}

.ji02-desc p{
  color: #999;
}


/* 마케팅수신동의 */
.mk_op_area {
  margin-bottom: 80px;
  padding-top: calc(var(--u10) * 2);
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.mk_op_area p{
  color: #999;
  font-size: 15px;
  
}

.mk_op_area > div > span {
  display: block;
  margin-bottom: 15px;
  color: #000;
}

.mk_op_box {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
}

/* -=-=-=-=-=-=-=-=-= 
회원가입03
-=-=-=-=-=-=-=-=-=-*/

.ji03-ar {
  text-align: var(--center);
  display: var(--flex);
  flex-direction: column;
  align-items: var(--center);
}

.ji03-ar h3 {
  margin-bottom: 50px;
  margin-top: 30px;
}

.ji03-ar h3 b {
  color: #174893;
}

.ji03-ar .ji03-desc {
  width: 480px;
  padding: 30px 0;
  border-top: 1px solid var(--blackColor);
  border-bottom: 1px solid var(--blackColor);
  margin-bottom: 60px;
}

/* -=-=-=-=-=-=-=-=-= 
아이디 / 비밀번호 찾기
-=-=-=-=-=-=-=-=-=-*/

.idPw-sc h3 {
  font-size: 18px;
  border-bottom: 1px solid var(--blackColor);
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: calc(var(--u10) * 2);
}

.idPw-sc > div:first-child {
  margin-bottom: 110px;
}


/* -=-=-=-=-=-=-=-=-= 
회원정보
-=-=-=-=-=-=-=-=-=-*/

input[type=file] {
  border: var(--none);
}

input[type=file]::file-selector-button{
  width: 150px;
  height: 30px;
  background: var(--whiteColor);
  border: 1px solid rgb(77,77,77);
  border-radius: 10px;
  cursor: var(--pointer);
}

[type=file]:focus::-webkit-file-upload-button {
  outline-offset: 2px;
  outline: var(--blackColor);
}

input[type=file]::file-selector-button:hover {
  background: rgb(77, 77, 77);
  color: var(--whiteColor);
}

input[type=file] /deep / span {
  border: 1px solid #333;
}


/* 프로필 사진등록 */
.pf-ib {
  display: var(--flex);
  align-items: var(--center);
  justify-content: var(--center);
  margin: 60px 0;
}

.pf-ib .pf-img {
  width: 262px;
  height: 264px;
  background-image: url(/assets/images/mypage/profile/default.jpg);
}

.pf-pc {
  width: 100%;
  margin-bottom: 60px;
}

.pf-pc span {
  font-weight: var(--fwBold);
  color: var(--blackColor);
  font-size: calc(var(--u10) * 2);
}

.pf-pc button {
  border: 1px solid var(--mainColor);
  background: var(--whiteColor);
  padding: 10px;
}

/* 프로필정보 */
.pf-if {
  border-top: 1px solid var(--blackColor);
  margin-bottom: 30px;
}

.pf-if table{
  width: 100%;
}

.pf-if table tr{
  border-bottom: 1px solid var(--daColor);
}

.pf-if table tr td {
  padding: calc(var(--u10) * 2) 0;
}

.pf-if table tr h4 {
  font-size: 16px;
  color: var(--blackColor);
  font-weight: var(--fwBold);
  margin-bottom: 0px;
}

/* 마케팅수신동의 */
.mk-ia ul {
  display: var(--flex);
  gap: 30px;
}

.mk-ia {
  margin-bottom: 70px;
}

/* -=-=-=-=-=-=-=-=-= 
비밀번호 재확인
-=-=-=-=-=-=-=-=-=-*/
.pf_rf {
  margin: 50px 0;
}

.pf_rf input:first-child {
  margin-bottom: 10px;
}

/* -=-=-=-=-=-=-=-=-= 
회원정보 변경
-=-=-=-=-=-=-=-=-=-*/
.ch-if {
  margin-bottom: calc(var(--u10) * 5);
}

.cc-desc {
  color: #999;
}

.cm-if > ul > li {
  margin-bottom: 100px;
}

.cm-if ul li h3 {
  margin-bottom: calc(var(--u10) * 2);
}
 
.cm-if .mk_op_area {
  justify-content: flex-start;
}






